/**　ToDo編集画面 **/
p {
  &.flash{
    color     : #0000ff;
    font-size : 18px;
  }

  &.error{
    color     : #ff0000;
    font-size : 18px;
  }
}

.todo-form {
  width : 500px;
  margin: 10px;
}
.form-field {
  display: flex;

  .field-label {
    width: 100px;
  }

  .title {
    width   : 300px;
    height  : 20px;
  }

  .body {
    width   : 300px;
    height  : 150px;
  }

  .category {
    position    : relative;
    /*Don't really need this just for demo styling*/
    float       : left;
    min-width   : 200px;
  }
  
  .category:after {
    content             : '<>';
    font                : 12px "Consolas", monospace;
    color               : #333;
    -webkit-transform   : rotate(90deg);
    -moz-transform      : rotate(90deg);
    -ms-transform       : rotate(90deg);
    transform           : rotate(90deg);
    right               : 11px;
    /*Adjust for position however you want*/
    top                 : 10px;
    padding             : 0 0 2px;
    border-bottom       : 1px solid #999;
    /*left line */
    position            : absolute;
    pointer-events      : none;
  }
  
  .category select {
    -webkit-appearance  : none;
    -moz-appearance     : none;
    appearance          : none;
    /* Add some styling */
    display             : block;
    width               : 100%;
    max-width           : 320px;
    float               : right;
    margin              : 5px 0px;
    padding             : 0px 24px;
    font-size           : 15px;
    line-height         : 1.75;
    color               : #333;
    background-color    : #ffffff;
    background-image    : none;
    border              : 1px solid #cccccc;
    -ms-word-break      : normal;
    word-break          : normal;
  }
}

